@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.menu {
  @include margin-bottom(1);

  &__button {
    background: none;
    color: inherit;
    border-radius: 8px;
    font: inherit;
    cursor: pointer;
    margin-bottom: 20px;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    &-item {
      padding: 0;
      margin: 10px 0;

      &-link {
        font-size: $typographic-base-font-size;
        color: var(--typographic-base-font-color);
        font-weight: normal;
        border: 0;

        &:hover,
        &:focus {
          color: var(--color-primary);
          border-bottom: 1px solid var(--color-primary);
        }

        &--active {
          color: var(--color-base);
          border-bottom: 1px solid var(--color-base);
        }
      }
    }
  }
}